
.border-radius-zero {
    border-radius: 0px;
}

.border-white {
    border-color: white;
}

.margin-top {
    margin-top: 30px;
}

.margin-small-top {
    margin-top: 10px;
}

.paging {
    padding: 30px;
}

.paging-top-lg {
    padding-top: 80px;
}

.paging-bottom-lg {
    padding-bottom: 80px;
}


.btn-white {
    border-color: white;
    color: white;
    background: transparent;
}

.addon-fixed-width{
    width: 100px;
}

.inverse{
    -ms-filter: invert(100%);
    -o-filter: invert(100%);
    -moz-filter: invert(100%);
    -webkit-filter: invert(100%);
}

.bg-info {
    padding-right: .9375rem;
    padding-left: .9375rem;
    margin-right: auto;
    margin-left: auto;
}

/*.verticleTable1 {*/
    /*float: left;*/
/*}*/

/*.verticleTable1 th {*/
    /*display: block;*/
/*}*/

/*.verticleTable2 {*/
    /*float: right;*/
/*}*/

/*.verticleTable2 th {*/
    /*display: block;*/
/*}*/