@(gender: String)

<!DOCTYPE html>

<html>
    <head>
        <title>Welcome to Trainer+</title>
    </head>
    <body>
        <form action="@routes.Application.submit()" method="post">
            <table border="1">
                <tr>
                    <td width="150">
                        Gender:
                    </td>
                    <td width="150">
                        <input id="gender" name="gender" type="text" value="@gender" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Waist Per Hip:
                    </td>
                    <td>
                        <input id="waistPerHip" name="waistPerHip" type="text" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" name="action">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
