@(nulist :List[rules.nutrition.Nutrition])(rawMaterialList :List[rules.nutrition.rawmaterial.RawMaterial])(tdees : List[String])(eatingCals : List[String])

@import rules.nutrition.Nutrition;
@import rules.nutrition.Fat;
@import rules.nutrition.Protein;
@import rules.nutrition.Carbohydrate;
@base_with_nav("Trainer+ : Nutrition Schedule")(content)

@content = {
    <div class="text-center">
        <h1 type="center-block" style="background: #9b59b6; color: white;; padding: 100px;">NUTRITION TABLE</h1>
        <div class="container margin-top">
            @for((tdee, index) <- tdees.zipWithIndex) {
                <div class="Energy" id="lv-cal-@index" @if(index!=1){style="display: none;"}>
                    <p class="lead">Your TDEE is @tdee kcal, you need to eat around</p>
                    <h1 class="display-3">@eatingCals.get(index) kcal</h1>
                </div>
            }


            <div class="row container">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-info-outline" onclick="changeCal(0);">
                        <input type="radio" name="activity_factor" id="lv0" autocomplete="off"">Sedentary
                    </label>
                    <label class="btn btn-info-outline active" onclick="changeCal(1);">
                        <input type="radio" name="activity_factor" id="lv1" autocomplete="off">Lightly Active
                    </label>
                    <label class="btn btn-info-outline" onclick="changeCal(2);">
                        <input type="radio" name="activity_factor" id="lv2" autocomplete="off">Moderately Active
                    </label>
                    <label class="btn btn-info-outline" onclick="changeCal(3);">
                        <input type="radio" name="activity_factor" id="lv3" autocomplete="off">Very Active
                    </label>
                    <label class="btn btn-info-outline" onclick="changeCal(4);">
                        <input type="radio" name="activity_factor" id="lv4" autocomplete="off">Extremely Active
                    </label>
                </div>
            </div>

            <table class="table table-striped margin-top">
                <thead>
                    <tr>
                        <th class="text-center">Nutrient</th>
                        <th class="text-center">Amount per day</th>
                        <th class="text-center">Energy per gram</th>
                    </tr>
                </thead>
                <tbody>
                    @nulist.zipWithIndex.map { case (nu, index) =>
                    <tr>
                        <td>@nu.getName()</td>
                        <td>@nu.getAmount()</td>
                        <td>@nu.getEnergyPerGram()</td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
        <h1 type="center-block" style="background: #336E7B; color: white;; padding: 100px;">Raw Material's Protein Table</h1>
            <div class="container margin-top">
        
                <table id="raw_table" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Type</th>
                            <th class="text-center">Classification</th>
                            <th class="text-center">Material</th>
                            <th class="text-center">Amount</th>
                            <th class="text-center">Protein provided</th>
                        </tr>
                    </thead>
                    <tbody>
                    @rawMaterialList.zipWithIndex.map { case (raw, index) =>
                    <tr>
                        <td>@raw.getType()</td>
                        <td>@raw.getClassification()</td>
                        <td>@raw.getName</td>
                        <td>@raw.getAmount</td>
                        <td>@raw.getProtein</td>
                    </tr>
                    }
                    </tbody>
                </table>

            </div>

        <a type="link" href="@routes.Schedule.index()" class="btn btn-success-outline btn-lg">Back</a>
    </div>
    <div class="col-md-2 col-lg-3">
    </div>
    <script>
            $(document).ready(function(){
                $('#raw_table').DataTable();
            });
            old_lv = 1;
            function changeCal(lv){
            console.log("---" + lv);
                $('#lv-cal-'+lv).show();
                $('#lv-cal-'+old_lv).hide();
                old_lv = lv;
            }


    </script>
}
