@(list :List[rules.nutrition.Nutrition])
@import rules.nutrition.Nutrition;
@import rules.nutrition.Fat;
@import rules.nutrition.Protein;
@import rules.nutrition.Carbohydrate;
@base_with_nav("nutrition_schedule")(content)

@content = {
<div class="text-center">
    <h1 type="center-block" style="background: #9b59b6; color: white;; padding: 100px;">NUTRITION TABLE</h1>
    <div class="container margin-top">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Day</th>
                <th>Protein</th>
                <th>Fat</th>
                <th>Carbohydrate</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                @list.zipWithIndex.map { case (nu, index) =>
                    <td>
                      @nu.getAmount();
                    </td>
                }
              </tr>
            </tbody>
        </table>

    </div>
    <a type="link" href="@routes.Schedule.index()" class="btn btn-success-outline btn-lg">Back</a>
</div>
<div class="col-md-2 col-lg-3">
</div>
}
