

    <div class="container margin-top">
        <div class="row">
            <div class="col-md-2 col-lg-3">
        </div>
            <div class="col-xs-12 col-md-8 col-lg-6">
                <div class="card card-block">
                    <h3 class="card-title text-center">Goal</h3>
                    <form class="form-row">
                        <div class="card text-center btn btn-secondary" onclick="changeColor(this,0)" style="width: 100%;">
                            <img class="card-img-top margin-top" src="/assets/images/running.png" style="height:200px;">
                            <div class="card-block">
                                <h4 class="card-title">Lose Weight</h4>
                            </div>
                        </div>
                        <div class="card text-center btn btn-secondary" onclick="changeColor(this,1)" style="width: 100%;">
                            <img class="card-img-top margin-top" src="/assets/images/dumbbells.png" style="height:200px;">
                            <div class="card-block">
                                <h4 class="card-title">Gain Weight</h4>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2 col-lg-3">
            </div>
        </div>
    </div>

    <script>
    var count = 0;
    var temp = null;
    var size = -1;
    function changeColor(obj,num){
        if (count>1) {
            return;
        }
        if (count==1) {
            $(temp).css("background", "transparent");
            $(temp).find("img").removeClass("inverse");
            $(temp).css("color", "black");
            count--;
        }
        count++;
        size = num;
        $("#input_goal").val(num);
        $(obj).css("background", "#29b664");
        $(obj).css("color", "white");
        $(obj).find('img').addClass("inverse");
        temp = obj;
    }
</script>
