@base_with_nav("login")(content)

@content = {
  <div class="container margin-top">
    <div class="row">
      <div class="col-md-2 col-lg-3">
      </div>
      <div class="col-xs-12 col-md-8 col-lg-6">
        <div class="card card-block">
          <h3 class="card-title text-center">Register</h3>
          <form class="form-row" action="@routes.Register.submit()" method="post">
            <div class="form-group">
              <label for="input_email" class="">Email</label>
              <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="input_password">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="input_confirm_password">Password</label>
              <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password">
            </div>
            <div class="form-group">
              <label for="birthday">Birthday</label>
              <input type="date"  class="form-control" name="birthday">
            </div>
            <div class="form-group">
              <label for="input_gender">Gender</label>
              <select class="c-select" name="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-4 col-lg-3 pull-right">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-lg-3">
  </div>
  <script type="application/javascript">
    var password = document.getElementById("password");
    var confirmPassword = document.getElementById("confirmPassword");

    function validatePassword(){
      if(password.value != confirmPassword.value) {
        confirmPassword.setCustomValidity("Password does not match!");
      } else {
        confirmPassword.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirmPassword.onkeyup = validatePassword;
  </script>
}