@(days: List[rules.exercise.Day])(cardioList: List[rules.cardio.Cardio])(cardioIsIntense :Boolean)
@import rules.exercise.Day;
@import rules.exercise.Exercise;
@import rules.cardio.Cardio;
@import rules.cardio.HIIT;
@import rules.cardio.LISS;
@import java.util;

@base_with_nav("workout_schedule")(content)

@content = {
<div class="text-center">
    <h1 type="center-block" style="background: #c0392b; color: white;; padding: 100px;">WORKOUT PROGRAMS</h1>
    <div class="container margin-top">

        <ul class="nav nav-tabs container" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#workout_table" role="tab" data-toggle="tab">Workout Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#cardio" role="tab" data-toggle="tab">Cardio</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="container margin-top tab-pane active" id="workout_table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th class="text-center">Workout</th>
                        <th class="text-center">Sets</th>
                        <th class="text-center">Reps</th>

                     </tr>
                </thead>
                <tbody>
                    @days.zipWithIndex.map { case (day, index) =>
                        @day.getExercises().zipWithIndex.map{ case (exercise, index2) =>
                          <tr>
                            @if(index2 == 0){
                                <th scope="row">@day.getDay()</th>
                            } else {
                              <th scope="row"></th>
                            }
                            <td>@exercise.getName()</td>
                            <td>@exercise.getSets()</td>
                            <td>@exercise.getReps()</td>
                          </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
            <div role="tabpanel" class="row container margin-top tab-pane" id="cardio">
              @if(cardioIsIntense == true){
                <div class = "col-sm-6">
              }else {
              }
                  <table class="table table-striped"style="width:600px">
                      <thead class ="verticleTable1">
                          <tr>
                              <th class="text-center" style="border-bottom: 0px">Name</th>
                              <th class="text-center" style="border-bottom: 0px">Fullname</th>
                              <th class="text-center" style="border-bottom: 0px">Type</th>
                              <th class="text-center" style="border-bottom: 0px">Hearth rate</th>
                              <th class="text-center" style="border-bottom: 0px">Duration</th>
                              <th class="text-center" style="border-bottom: 0px">Benefits</th>
                              <th class="text-center" style="border-bottom: 0px">Frequency</th>
                              <th class="text-center" style="border-bottom: 0px">Average</th>
                              <th class="text-center" style="border-bottom: 0px">Description</th>
                          </tr>
                      </thead>
                      <tbody class ="verticleTable2">
                          <tr><td>@cardioList.get(0).getName()</td></tr>
                          <tr><td>@cardioList.get(0).getFullName()</td></tr>
                          <tr><td>@cardioList.get(0).getType()</td></tr>
                          <tr><td>@cardioList.get(0).getHR()</td></tr>
                          <tr><td>@cardioList.get(0).getDuration()</td></tr>
                          <tr><td>@cardioList.get(0).getBenefit()</td></tr>
                          <tr><td>@cardioList.get(0).getFrequency()</td></tr>
                          <tr><td>@cardioList.get(0).getAverage()</td></tr>
                          <tr><td>@cardioList.get(0).getDescription()</td></tr>
                      </tbody>
                  </table>
                </div>
                <div class="col-sm-6">
                  @if(cardioIsIntense == true){
                    <table class="table table-striped">
                        <thead class ="verticleTable1">
                            <tr>
                                <th class="text-center" style="border-bottom: 0px">Name</th>
                                <th class="text-center" style="border-bottom: 0px">Fullname</th>
                                <th class="text-center" style="border-bottom: 0px">Type</th>
                                <th class="text-center" style="border-bottom: 0px">Hearth rate</th>
                                <th class="text-center" style="border-bottom: 0px">Duration</th>
                                <th class="text-center" style="border-bottom: 0px">Benefits</th>
                                <th class="text-center" style="border-bottom: 0px">Frequency</th>
                                <th class="text-center" style="border-bottom: 0px">Average</th>
                                <th class="text-center" style="border-bottom: 0px">Description</th>
                            </tr>
                        </thead>
                        <tbody class ="verticleTable2">
                          <tr><td>@cardioList.get(1).getName()</td></tr>
                          <tr><td>@cardioList.get(1).getFullName()</td></tr>
                          <tr><td>@cardioList.get(1).getType()</td></tr>
                          <tr><td>@cardioList.get(1).getHR()</td></tr>
                          <tr><td>@cardioList.get(1).getDuration()</td></tr>
                          <tr><td>@cardioList.get(1).getBenefit()</td></tr>
                          <tr><td>@cardioList.get(1).getFrequency()</td></tr>
                          <tr><td>@cardioList.get(1).getAverage()</td></tr>
                          <tr><td>@cardioList.get(1).getDescription()</td></tr>
                        </tbody>
                    </table>
                  }
                </div>

            </div>
        </div>
        <a type="link" href="@routes.Schedule.index()" class="btn btn-success-outline btn-lg">Back</a>
</div>
</div>
<div class="col-md-2 col-lg-3">
</div>
}
