@(days: List[rules.exercise.Day])
@import rules.exercise.Day;
@import rules.exercise.Exercise;
@import java.util;

@base_with_nav("workout_schedule")(content)

@content = {
<div class="text-center">
    <h1 type="center-block" style="background: #c0392b; color: white;; padding: 100px;">WORKOUT PROGRAMS</h1>
    <div class="container margin-top">

        <ul class="nav nav-tabs container" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#workout_table" role="tab" data-toggle="tab">Workout Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#cardio" role="tab" data-toggle="tab">Cardio</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="container margin-top tab-pane active" id="workout_table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Workout</th>
                        <th>Sets</th>
                        <th>Reps</th>

                     </tr>
                </thead>
                <tbody>
                    @days.zipWithIndex.map { case (day, index) =>
                        @day.getExercises().zipWithIndex.map{ case (exercise, index2) =>
                          <tr>
                            @if(index2 == 0){
                                <th scope="row">@day.getDay()</th>
                            } else {
                              <th scope="row"></th>
                            }
                            <td>@exercise.getName()</td>
                            <td>@exercise.getSets()</td>
                            <td>@exercise.getReps()</td>
                          </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
            <div role="tabpanel" class="container margin-top tab-pane" id="cardio">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Sets</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                        </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <a type="link" href="@routes.Schedule.index()" class="btn btn-success-outline btn-lg">Back</a>
</div>
</div>
<div class="col-md-2 col-lg-3">
</div>
}
